


:root{
  --primaryColor: red;
  --secondaryColor: gold;
}





body{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}
.bgColorDark{
  background: #ebf8fd;
}
.bgColorLight{
  background: #252525;
  /* color: var(--primaryColor) */
}
.bglight{
  background: #399090;
}
.hedlineContent h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  color: #056676;
}
.hedlineContent p {
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .hedlineContent h2 {
    font-size: 38px;
  }
  .hedlineContent p {
    font-size: 18px;
    line-height: 28px;
  }
}

.headerWrap {
  min-height: 350px;
  background: center  no-repeat;
    background-size: cover;
}
.headerContent {
  padding: 150px 48px 0px 48px;
}
.headerMenu {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 5px;
  cursor: pointer;
}
.headerMenu:hover {
  text-decoration: none;
  background-color: transparent;
  color: aqua;
}











/* ::placeholder {
  color: black !important;
  font-weight: 500;
  text-transform: uppercase;
} */
